h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
  margin-bottom: 0em;
  padding-bottom: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
  font-size: 30px;
}

table {
  width: 65%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

th {
  font-size: 20px;
  background-color: cornflowerblue;
  color: white;
}

td,
th {
  padding: 8px;
}

td,
a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

a.link {
  color: black;
}

td {
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: rgb(221, 243, 252);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: cornflowerblue;
  padding: 10px;
  justify-content: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.header,
a {
  color: white;
  text-align: center;
}
